<?php

/**
 * Configuration for the Roundcube OpenPGP plugin
 *
 * @version @package_version@
 * @author Lazlo Westerhof <hello@lazlo.me>
 *
 * Copyright (C) 2013-2014, Lazlo Westerhof <hello@lazlo.me>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */

// always encrypt messages
$config['encrypt'] = true;

// always sign messages
$config['sign'] = true;

// automatically attach public key to messages
$config['attach_public_key'] = true;

// warn on sending an unencrypted message
$config['warn_on_unencrypted'] = true;

// set sks key server for key search
$config['sks_key_server'] = 'https://hkps.pool.sks-keyservers.net';

// set sks key server port for key search
$config['sks_key_port'] = '443';

// use HKPS key server
$config['use_hkps'] = true;

// set sks key server certificate for HKPS
$config['hkps_cert'] = 'sks-keyservers.netCA.pem';
