<div id="openpgpjs_key_manager" class="propform popupdialog">
  <div id="openpgpjs_tabs">
    <ul>
      <li><a href="#openpgpjs-tab1"><roundcube:label name="roundcube_openpgp.public_keys" /></a></li>
      <li><a href="#openpgpjs-tab2"><roundcube:label name="roundcube_openpgp.private_keys" /></a></li>
      <li><a href="#openpgpjs-tab3"><roundcube:label name="roundcube_openpgp.generate_keys" /></a></li>
      <li><a href="#openpgpjs-tab4"><roundcube:label name="roundcube_openpgp.key_search" /></a></li>
    </ul>
    <div id="openpgpjs-tab1">
      <table id="openpgpjs_pubkeys" class="records-table">
        <thead>
          <tr class="boxtitle">
            <td><roundcube:label name="roundcube_openpgp.key_id" /></td>
            <td><roundcube:label name="roundcube_openpgp.fingerprint" /></td>
            <td><roundcube:label name="roundcube_openpgp.person" /></td>
            <td><roundcube:label name="roundcube_openpgp.length_alg" /></td>
            <td><roundcube:label name="roundcube_openpgp.status" /></td>
            <td><roundcube:label name="roundcube_openpgp.action" /></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <br />
      <form onSubmit="rcmail.openpgp_import_public_key($('#publickey').val()); $('#publickey').val(''); return false;">
        <fieldset>
          <legend><roundcube:label name="roundcube_openpgp.import_public" /></legend>
          <div id="import_public_msg"class="manager-objects"></div>
          <textarea id="publickey" placeholder="<roundcube:label name="roundcube_openpgp.paste_public" />" required="required"></textarea>
          <div class="formbuttons">
            <input type="submit" class="button mainaction" value="<roundcube:label name="import" />" />
          </div>
        </fieldset>
      </form>
    </div>
    <div id="openpgpjs-tab2">
      <table id="openpgpjs_privkeys" class="records-table">
        <thead>
          <tr class="boxtitle">
            <td><roundcube:label name="roundcube_openpgp.key_id" /></td>
            <td><roundcube:label name="roundcube_openpgp.fingerprint" /></td>
            <td><roundcube:label name="roundcube_openpgp.person" /></td>
            <td><roundcube:label name="roundcube_openpgp.length_alg" /></td>
            <td><roundcube:label name="roundcube_openpgp.action" /></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <br />
      <form onSubmit="rcmail.openpgp_import_private_key($('#privatekey').val(), $('#passphrase').val()); $('#privatekey').val(''); $('#passphrase').val('');return false;">
        <fieldset>
          <legend><roundcube:label name="roundcube_openpgp.import_private" /></legend>
          <div id="import_private_msg"class="manager-objects"></div>
          <textarea id="privatekey" placeholder="<roundcube:label name="roundcube_openpgp.paste_private" />" required="required"></textarea><br /><br />
          <label for="passphrase"><roundcube:label name="roundcube_openpgp.passphrase" />:</label>
          <input id="passphrase" type="password" autocomplete="off" autocapitalize="off" required="required" />
          <div class="formbuttons">
            <input type="submit" class="button mainaction" value="<roundcube:label name="roundcube_openpgp.import" />" /></p>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="openpgpjs-tab3">
      <form onSubmit="rcmail.openpgp_generate_key_pair($('#bits').val(), $('#algorithm').val()); return false;">
        <fieldset>
          <div id="generate_key_msg"class="manager-objects"></div>
          <label for="gen_ident"><roundcube:label name="roundcube_openpgp.ident" />:</label>
          <select id="gen_ident" /></select>
          <label for="gen_passphrase"><roundcube:label name="roundcube_openpgp.passphrase" />:</label>
          <input id="gen_passphrase"  type="password" autocomplete="off" autocapitalize="off" required="required" />
          <label for="gen_passphrase_verify"><roundcube:label name="roundcube_openpgp.verify" />:</label>
          <input id="gen_passphrase_verify" type="password" autocomplete="off" autocapitalize="off" required="required" />
          <label for="algorithm"><roundcube:label name="roundcube_openpgp.algorithm" />:</label>
          <select id="algorithm">
            <option value="1">RSA</option>
          </select>
          <label for="bits"><roundcube:label name="roundcube_openpgp.bits" />:</label>
          <select id="bits">
            <option value="2048" selected>2048</option>
            <option value="4096">4096</option>
          </select>
          <div class="formbuttons">
            <input type="submit" class="button mainaction" value="<roundcube:label name="roundcube_openpgp.generate" />" />
            <input type="button" class="button mainaction hidden" id="import_button" value="<roundcube:label name="roundcube_openpgp.import" />" onclick="rcmail.openpgp_import_generated_key_pair();" />
          </div>
        </fieldset>
      </form>
      <div id="generated_keys"></div>
    </div>
    <div id="openpgpjs-tab4">
      <p>
        <roundcube:label name="roundcube_openpgp.search_description" />
      </p>
      <form onSubmit="rcmail.http_post('plugin.pks_search', 'search=' + $('#search').val() + '&op=index'); $('#search').attr('disabled', 'disabled'); $('#search_submit').attr('disabled', 'disabled'); return false;">
        <fieldset>
          <input id="search" type="text" autocomplete="off" autocapitalize="off" required="required" />
          <input id="search_submit" type="submit" value="<roundcube:label name="search" />" />
        </fieldset>
      </form>
      <table id="openpgpjs_search_results" class="records-table">
        <thead>
          <tr class="boxtitle">
            <td><roundcube:label name="roundcube_openpgp.key_id" /></td>
            <td><roundcube:label name="roundcube_openpgp.person" /></td>
            <td><roundcube:label name="roundcube_openpgp.action" /></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
