.hidden {
  display: none;
  visibility: hidden;
}
ul.toolbarmenu li span.icon.key_manager {
  background: url(images/key_manager.png) -2px -1px no-repeat;
}
.toolbar a.button.key_manager {
  background: url("images/lock.png") center -2px no-repeat;
}
#openpgpjs_key_manager.popupdialog,
#openpgpjs_key_manager.ui-dialog-content {
  padding: 0;
}
#openpgpjs_tabs {
  min-height: 400px;
}
#openpgpjs_tabs .ui-tabs {
  padding: 0;
}
#openpgpjs_tabs .ui-tabs-panel {
  background: transparent;
  padding: 0;
}
#openpgpjs_import textarea {
  width: 555px;
  height: 175px;
}
.clickme { cursor: pointer !important; }
.clickme:hover { background-color: #fff; }
#generated_private, #generated_public { width: 45%; float: left; text-align: left; font-size: 7pt; }
#openpgpjs_search_results { width: 99%; overflow: scroll; }

/* Additional styles for the messages in mail view and key manager.
   Roundcube only includes a "notice" style for this area. */
.manager-objects div {
	margin: 8px;
  width: 500px;
}
.manager-objects div.messagepadding,
#message-objects div.messagepadding {
  padding: 8px 12px 8px 30px !important;
}
.manager-objects div.confirmation,
.manager-objects div.error,
#message-objects div.confirmation,
#message-objects div.error {
  font-weight: bold;
  background: #9f9 url(../../../../skins/larry/images/messages.png) 5px -25px no-repeat;
  cursor: default;
  display: block;
  white-space: normal;
  border: 1px solid #093;
	color: #093;
}
.manager-objects div.error,
#message-objects div.error {
  color: #900;
  border: 1px solid #900;
  background-color: #f99;
	background-position: 5px -55px;
}
